:root {
    --accent: #add8e6;
    --accent-light: #F0F7F9;
}

html {
    font-family: 'Segoe UI', "Open Sans", sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--accent-light);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
    width: 100%;
    border: 3px solid var(--accent);
    border-radius: 3px;
}

.header-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    cursor: pointer;;
    transition: all 0.1s ease-in;
}

.header-button:hover {
    background-color: var(--accent);
}

.header-button.active {
    background-color: #3d849b;
    color: white;
}

.header-button::first-letter {
    text-transform: capitalize;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-item {
    display: flex;
    gap: 1rem;
    border: 3px solid var(--accent);
    border-radius: 3px;
    padding-right: 1rem;
}

.menu-item img {
    width: 10rem;
}