html {
    font-family: 'Segoe UI', "Open Sans", sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    gap: 1rem;
}

.header-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    cursor: pointer;;
    transition: all 0.1s ease-in;
}

.header-button:hover {
    background-color: #add8e6;
}

.header-button.active {
    background-color: #3d849b;
    color: white;
}

.header-button::first-letter {
    text-transform: capitalize;
}